body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background: url('images/nordwood-themes-KcsKWw77Ovw-unsplash.jpg') no-repeat center center;
    background-size: cover;
    border-bottom: 5px solid #ffd700;
    padding: 20px;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
    padding: 10px;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 150px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.school-name {
    font-size: 24px;
    margin-top: 10px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.issue-info {
    border-bottom: 2px solid #ffd700;
    border-top: 2px solid #ffd700;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
    padding: 10px;
}

.main-content {
    display: flex;
    margin: 20px;
}

.sidebar {
    width: 25%;
    background-color: #00bfff;
    padding: 20px;
    color: #fff;
}

.article-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.article-lead {
    font-size: 14px;
    margin-bottom: 20px;
}

.table-of-contents ul {
    list-style: none;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.table-of-contents li {
    margin-bottom: 5px; 
}

.main-article {
    width: 75%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.article-sidebar {
    margin-bottom: 20px;
    border-bottom: 2px solid #ffd700;
}

.article-header {
    margin-bottom: 20px;
}

.article-header .article-title {
    font-size: 24px;
    font-weight: bold;
}

.article-header .article-lead {
    font-size: 14px;
}

.article-image img {
    max-width: 75%;
    height: auto;
}

.toc-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
