@import url('header.css');
@import url('sidebar.css');
@import url('main.css');
@import url('footer.css');

article {
    width: 75%;
    padding: 1rem;
}

.contenedor {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}