main {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row ;
}


.news-content {
    flex: 2;
}

.news-img img {
    width: 90%;
    height: auto;
}

h2 {
    margin: 0 0 10px;
}

.news-text {
    color: #666;
}

.news-item {
    flex-direction: row;
}
